bin/*
!bin/.gitkeep
results/*
!results/.gitkeep
tasks/*
!tasks/.gitkeep
results/parts/*
!results/parts/.gitkeep

visualization/.venv
plots
visualization/frames_relax
visualization/build
visualization/benchmark_csv
visualization/.ipynb_checkpoints

.ipynb_checkpoints
./clang-format
